.data-element {
    width: 95%;
    min-width: 320px;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    & > .text-container {
        display: flex;
        justify-content: center;
        & > p {
            font-size: 2.5rem;
            color: #2e2e2e;
        }

        & > i {
            font-size: 2.7rem;
            color: #131313b9;
        }

        @media (max-width: 339px) {
            & > p {
                font-size: 2rem;
            }

            & > i {
                font-size: 1.8rem;
            }
        }
    }
    & > span {
        margin-left: 2rem;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        background: #141414d5;
        color: #ffffff;
        border-radius: 0.4rem;
        @media (max-width: 339px) {
            font-size: 1.6rem;
        }
    }
}
