.global-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    margin-top: 10rem;

    & > .data-container {
        min-height: 279px;
        & > h3 {
            margin: 1rem;
            color: #6b6b6b;
            font-size: 2.3rem;
        }

        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        border-radius: 1rem;
        background: #3b3b3b18;
        backdrop-filter: blur(2px);
    }
}

@keyframes animateLoading {
    from {
        background: #3b3b3b59;
    }

    to {
        background: #3b3b3b18;
    }
}
